In [48]:
import pandas
import numpy

In [84]:
header = ['schedule_id', 'schedule_date', 'train_id', 'active', 'station_id', 'arrival_time', 'arrival_delay', 'departure_time', 'departure_delay']
header_x = ['schedule_id', 'schedule_date', 'train_id', 'active', 'station_id', 'arrival_time', 'departure_time']
header_y = 'departure_delay'

In [64]:

data = pandas.read_csv("data.txt", sep='\t', names=header)

In [65]:
data.head()

,schedule_id,schedule_date,train_id,active,station_id,arrival_time,arrival_delay,departure_time,departure_delay
0,46739519,2016-12-11,1089,0,271,\N,\N,2016-12-11 05:42:00,0
1,46739519,2016-12-11,1089,0,1499,2016-12-11 05:48:30,0,2016-12-11 05:49:00,0
2,46739519,2016-12-11,1089,0,1500,2016-12-11 05:52:30,0,2016-12-11 05:53:00,0
3,46739519,2016-12-11,1089,0,1501,2016-12-11 05:56:30,0,2016-12-11 05:57:00,0
4,46739519,2016-12-11,1089,0,386,2016-12-11 06:05:00,0,2016-12-11 06:06:00,0

In [66]:
def process(df):
    df = df[df.arrival_time != "\\N"]
    df = df[df.departure_time != "\\N"]
    df.schedule_date = pandas.to_datetime(df.schedule_date, format='%Y-%m-%d').astype(int)
    df.arrival_time = pandas.to_datetime(df.arrival_time, format='%Y-%m-%d %H:%M:%S').astype(int)
    df.departure_time = pandas.to_datetime(df.departure_time, format='%Y-%m-%d %H:%M:%S').astype(int)
    return df

In [67]:
processed = process(data)

In [68]:
def split(df):
    point = processed.schedule_date.quantile(0.9)
    train = df[processed.schedule_date < point]
    test = df[processed.schedule_date >= point]
    return train, test

In [69]:
train, test = split(processed)

In [70]:
from sklearn.linear_model import LinearRegression

In [61]:
def toxy(df):
    return df[header_x], df[header_y]

In [72]:
train.size

94784040

In [73]:
test.size

10794537

In [86]:
lr = LinearRegression()
x,y = toxy(train)
lr.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [87]:
x, y= toxy(test)
lr.score(x, y)

-0.030345511908632217

In [88]:
x, y= toxy(train)
lr.score(x, y)

0.02141942091698146

In [89]:
lr.predict(x)

array([2.12810902, 2.13891043, 2.14971185, ..., 9.75900948, 9.45143754,
       9.84389647])

In [92]:
y

1            0
2            0
3            0
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           0
12           0
13           0
16           0
17           0
18           0
19           0
20           0
21           0
22           0
23           0
24           0
25           0
26           0
29           0
30           0
31           0
32           0
33           0
34           0
            ..
12071523    98
12071524    98
12071525    98
12071526    99
12071527    99
12071528    99
12071529    99
12071530    99
12071531    99
12071532    99
12071533    99
12071534    99
12071535    98
12071536    97
12071537    97
12071538    97
12071617     0
12071618     1
12071619     0
12071620     0
12071621     0
12071624     0
12071625     0
12071626     0
12071627     0
12071628     0
12071629     0
12071630     0
12071631     0
12071632     0
Name: departure_delay, Length: 10531560, dtype: object

In [95]:
train.departure_delay

1            0
2            0
3            0
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           0
12           0
13           0
16           0
17           0
18           0
19           0
20           0
21           0
22           0
23           0
24           0
25           0
26           0
29           0
30           0
31           0
32           0
33           0
34           0
            ..
12071523    98
12071524    98
12071525    98
12071526    99
12071527    99
12071528    99
12071529    99
12071530    99
12071531    99
12071532    99
12071533    99
12071534    99
12071535    98
12071536    97
12071537    97
12071538    97
12071617     0
12071618     1
12071619     0
12071620     0
12071621     0
12071624     0
12071625     0
12071626     0
12071627     0
12071628     0
12071629     0
12071630     0
12071631     0
12071632     0
Name: departure_delay, Length: 10531560, dtype: object

In [96]:
test.head()

,schedule_id,schedule_date,train_id,active,station_id,arrival_time,arrival_delay,departure_time,departure_delay
11692300,49698256,1509667200000000000,1089,0,1499,1509688110000000000,0,1509688140000000000,0
11692301,49698256,1509667200000000000,1089,0,1500,1509688350000000000,0,1509688380000000000,0
11692302,49698256,1509667200000000000,1089,0,1501,1509688590000000000,0,1509688620000000000,0
11692303,49698256,1509667200000000000,1089,0,386,1509689100000000000,0,1509689160000000000,0
11692304,49698256,1509667200000000000,1089,0,1502,1509689610000000000,0,1509689640000000000,0

In [99]:
x = toxy(test)
annotated_test = test.copy()
annotated_test["predicted_delay"] = lr.predict(x)

ValueError: Length of values does not match length of index