In [48]:
import pandas
import numpy

In [84]:
header = ['schedule_id', 'schedule_date', 'train_id', 'active', 'station_id', 'arrival_time', 'arrival_delay', 'departure_time', 'departure_delay']
header_x = ['schedule_id', 'schedule_date', 'train_id', 'active', 'station_id', 'arrival_time', 'departure_time']
header_y = 'departure_delay'

In [64]:

data = pandas.read_csv("data.txt", sep='\t', names=header)

In [65]:
data.head()

,schedule_id,schedule_date,train_id,active,station_id,arrival_time,arrival_delay,departure_time,departure_delay
0,46739519,2016-12-11,1089,0,271,\N,\N,2016-12-11 05:42:00,0
1,46739519,2016-12-11,1089,0,1499,2016-12-11 05:48:30,0,2016-12-11 05:49:00,0
2,46739519,2016-12-11,1089,0,1500,2016-12-11 05:52:30,0,2016-12-11 05:53:00,0
3,46739519,2016-12-11,1089,0,1501,2016-12-11 05:56:30,0,2016-12-11 05:57:00,0
4,46739519,2016-12-11,1089,0,386,2016-12-11 06:05:00,0,2016-12-11 06:06:00,0

In [66]:
def process(df):
    df = df[df.arrival_time != "\\N"]
    df = df[df.departure_time != "\\N"]
    df.schedule_date = pandas.to_datetime(df.schedule_date, format='%Y-%m-%d').astype(int)
    df.arrival_time = pandas.to_datetime(df.arrival_time, format='%Y-%m-%d %H:%M:%S').astype(int)
    df.departure_time = pandas.to_datetime(df.departure_time, format='%Y-%m-%d %H:%M:%S').astype(int)
    return df

In [67]:
processed = process(data)

In [68]:
def split(df):
    point = processed.schedule_date.quantile(0.9)
    train = df[processed.schedule_date < point]
    test = df[processed.schedule_date >= point]
    return train, test

In [69]:
train, test = split(processed)

In [70]:
from sklearn.linear_model import LinearRegression

In [61]:
def toxy(df):
    return df[header_x], df[header_y]

In [72]:
train.size

94784040

In [73]:
test.size

10794537

In [86]:
lr = LinearRegression()
x,y = toxy(train)
lr.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [87]:
x, y= toxy(test)
lr.score(x, y)

-0.030345511908632217

In [88]:
x, y= toxy(train)
lr.score(x, y)

0.02141942091698146

In [102]:
x, y = toxy(train)
annotated_train = train.copy()
annotated_train["predicted_delay"] = lr.predict(x)

In [104]:
annotated_train

,schedule_id,schedule_date,train_id,active,station_id,arrival_time,arrival_delay,departure_time,departure_delay,predicted_delay
1,46739519,1481414400000000000,1089,0,1499,1481435310000000000,0,1481435340000000000,0,2.128109
2,46739519,1481414400000000000,1089,0,1500,1481435550000000000,0,1481435580000000000,0,2.138910
3,46739519,1481414400000000000,1089,0,1501,1481435790000000000,0,1481435820000000000,0,2.149712
4,46739519,1481414400000000000,1089,0,386,1481436300000000000,0,1481436360000000000,0,2.683158
5,46739519,1481414400000000000,1089,0,1502,1481436810000000000,0,1481436840000000000,0,2.197100
6,46739519,1481414400000000000,1089,0,1503,1481437050000000000,0,1481437080000000000,0,2.207901
7,46739519,1481414400000000000,1089,0,1504,1481437350000000000,0,1481437380000000000,0,2.221517
8,46739519,1481414400000000000,1089,0,385,1481437860000000000,0,1481437920000000000,0,2.756788
9,46739519,1481414400000000000,1089,0,1505,1481438160000000000,0,1481438190000000000,0,2.259055
10,46739519,1481414400000000000,1089,0,1506,1481438460000000000,0,1481438490000000000,0,2.272671
11,46739519,1481414400000000000,1089,0,1507,1481438730000000000,0,1481438760000000000,0,2.284879
12,46739519,1481414400000000000,1089,0,1508,1481438970000000000,0,1481439000000000000,0,2.295681
13,46739519,1481414400000000000,1089,0,59,1481439390000000000,0,1481439420000000000,0,2.976192
16,46739526,1481414400000000000,976,0,658,1481429802000000000,0,1481429820000000000,0,2.280093
17,46739526,1481414400000000000,976,0,659,1481429982000000000,0,1481430000000000000,0,2.288080
18,46739526,1481414400000000000,976,0,660,1481430222000000000,0,1481430240000000000,0,2.298882
19,46739526,1481414400000000000,976,0,213,1481430540000000000,0,1481430600000000000,0,2.519096
20,46739526,1481414400000000000,976,0,661,1481430912000000000,0,1481430930000000000,0,2.330791
21,46739526,1481414400000000000,976,0,662,1481431200000000000,0,1481431230000000000,0,2.344257
22,46739526,1481414400000000000,976,0,663,1481431560000000000,0,1481431590000000000,0,2.360687
23,46739526,1481414400000000000,976,0,664,1481431800000000000,0,1481431830000000000,0,2.371489
24,46739526,1481414400000000000,976,0,665,1481432022000000000,0,1481432040000000000,0,2.381033
25,46739526,1481414400000000000,976,0,212,1481432220000000000,0,1481432250000000000,0,2.597322
26,46739526,1481414400000000000,976,0,666,1481432622000000000,0,1481432640000000000,0,2.408720
29,46739530,1481414400000000000,1030,0,658,1481433942000000000,0,1481433960000000000,0,2.461609
30,46739530,1481414400000000000,1030,0,659,1481434122000000000,0,1481434140000000000,0,2.469596
31,46739530,1481414400000000000,1030,0,660,1481434362000000000,0,1481434380000000000,0,2.480398
32,46739530,1481414400000000000,1030,0,213,1481434680000000000,0,1481434740000000000,0,2.700612
33,46739530,1481414400000000000,1030,0,661,1481435052000000000,0,1481435070000000000,0,2.512307
34,46739530,1481414400000000000,1030,0,662,1481435340000000000,0,1481435370000000000,0,2.525773
...,...,...,...,...,...,...,...,...,...,...
12071523,49789524,1509580800000000000,1682,0,345,1509640860000000000,94,1509640920000000000,98,9.337197
12071524,49789524,1509580800000000000,1682,0,346,1509641250000000000,98,1509641280000000000,98,9.354001
12071525,49789524,1509580800000000000,1682,0,347,1509641622000000000,98,1509641652000000000,98,9.370994
12071526,49789524,1509580800000000000,1682,0,348,1509641850000000000,98,1509641880000000000,99,9.381233
12071527,49789524,1509580800000000000,1682,0,349,1509642180000000000,99,1509642210000000000,99,9.396256
12071528,49789524,1509580800000000000,1682,0,350,1509642540000000000,99,1509642600000000000,99,9.413719
12071529,49789524,1509580800000000000,1682,0,351,1509642900000000000,99,1509642930000000000,99,9.429116
12071530,49789524,1509580800000000000,1682,0,352,1509643350000000000,99,1509643380000000000,99,9.449768
12071531,49789524,1509580800000000000,1682,0,353,1509643680000000000,99,1509643710000000000,99,9.464791
12071532,49789524,1509580800000000000,1682,0,354,1509644040000000000,99,1509644250000000000,99,9.487416
12071533,49789524,1509580800000000000,1682,0,355,1509644550000000000,99,1509644580000000000,99,9.504687
12071534,49789524,1509580800000000000,1682,0,356,1509644850000000000,99,1509644880000000000,99,9.518303
12071535,49789524,1509580800000000000,1682,0,357,1509645180000000000,98,1509645210000000000,98,9.533326
12071536,49789524,1509580800000000000,1682,0,358,1509645480000000000,97,1509645510000000000,97,9.546942
12071537,49789524,1509580800000000000,1682,0,359,1509645810000000000,97,1509645840000000000,97,9.561964
12071538,49789524,1509580800000000000,1682,0,360,1509646110000000000,97,1509646140000000000,97,9.575580
12071617,49789844,1509580800000000000,1794,0,62,1509649200000000000,0,1509649500000000000,0,9.853560
12071618,49789844,1509580800000000000,1794,0,63,1509649740000000000,0,1509649800000000000,1,9.870172
12071619,49789844,1509580800000000000,1794,0,226,1509656910000000000,-2,1509656970000000000,0,10.132153
12071620,49789844,1509580800000000000,1794,0,400,1509658470000000000,-1,1509658590000000000,0,10.128040
12071621,49789844,1509580800000000000,1794,0,87,1509660420000000000,-1,1509660480000000000,0,10.360184
12071624,49789848,1509580800000000000,3766,0,62,1509652800000000000,0,1509653400000000000,0,9.563420
12071625,49789848,1509580800000000000,3766,0,63,1509653640000000000,0,1509653760000000000,0,9.585844
12071626,49789848,1509580800000000000,3766,0,231,1509655260000000000,0,1509655380000000000,0,9.585216
12071627,49789848,1509580800000000000,3766,0,230,1509656100000000000,0,1509656220000000000,0,9.625073
12071628,49789848,1509580800000000000,3766,0,1225,1509657120000000000,1,1509657180000000000,0,9.217086
12071629,49789848,1509580800000000000,3766,0,229,1509657540000000000,0,1509657600000000000,0,9.691009
12071630,49789848,1509580800000000000,3766,0,228,1509658980000000000,0,1509659040000000000,0,9.759009
12071631,49789848,1509580800000000000,3766,0,995,1509659880000000000,0,1509659940000000000,0,9.451438
12071632,49789848,1509580800000000000,3766,0,227,1509660780000000000,0,1509660840000000000,0,9.843896

In [95]:
train.departure_delay

1            0
2            0
3            0
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           0
12           0
13           0
16           0
17           0
18           0
19           0
20           0
21           0
22           0
23           0
24           0
25           0
26           0
29           0
30           0
31           0
32           0
33           0
34           0
            ..
12071523    98
12071524    98
12071525    98
12071526    99
12071527    99
12071528    99
12071529    99
12071530    99
12071531    99
12071532    99
12071533    99
12071534    99
12071535    98
12071536    97
12071537    97
12071538    97
12071617     0
12071618     1
12071619     0
12071620     0
12071621     0
12071624     0
12071625     0
12071626     0
12071627     0
12071628     0
12071629     0
12071630     0
12071631     0
12071632     0
Name: departure_delay, Length: 10531560, dtype: object

In [100]:
x, y = toxy(test)
annotated_test = test.copy()
annotated_test["predicted_delay"] = lr.predict(x)

In [101]:
annotated_test

,schedule_id,schedule_date,train_id,active,station_id,arrival_time,arrival_delay,departure_time,departure_delay,predicted_delay
11692300,49698256,1509667200000000000,1089,0,1499,1509688110000000000,0,1509688140000000000,0,2.567181
11692301,49698256,1509667200000000000,1089,0,1500,1509688350000000000,0,1509688380000000000,0,2.577982
11692302,49698256,1509667200000000000,1089,0,1501,1509688590000000000,0,1509688620000000000,0,2.588784
11692303,49698256,1509667200000000000,1089,0,386,1509689100000000000,0,1509689160000000000,0,3.122230
11692304,49698256,1509667200000000000,1089,0,1502,1509689610000000000,0,1509689640000000000,0,2.636172
11692305,49698256,1509667200000000000,1089,0,1503,1509689850000000000,0,1509689880000000000,0,2.646973
11692306,49698256,1509667200000000000,1089,0,1504,1509690150000000000,0,1509690180000000000,0,2.660589
11692307,49698256,1509667200000000000,1089,0,385,1509690660000000000,0,1509690720000000000,0,3.195859
11692308,49698256,1509667200000000000,1089,0,1505,1509690960000000000,0,1509690990000000000,0,2.698127
11692309,49698256,1509667200000000000,1089,0,1506,1509691260000000000,0,1509691290000000000,0,2.711743
11692310,49698256,1509667200000000000,1089,0,1507,1509691530000000000,0,1509691560000000000,0,2.723951
11692311,49698256,1509667200000000000,1089,0,1508,1509691770000000000,0,1509691800000000000,0,2.734753
11692312,49698256,1509667200000000000,1089,0,59,1509692190000000000,0,1509692220000000000,0,3.415264
11692315,49698257,1509667200000000000,2152,0,1499,1509696030000000000,0,1509696060000000000,0,2.685635
11692316,49698257,1509667200000000000,2152,0,1500,1509696270000000000,0,1509696300000000000,0,2.696437
11692317,49698257,1509667200000000000,2152,0,1501,1509696510000000000,0,1509696540000000000,0,2.707238
11692318,49698257,1509667200000000000,2152,0,386,1509697020000000000,0,1509697320000000000,0,3.248945
11692319,49698257,1509667200000000000,2152,0,1502,1509697770000000000,0,1509697800000000000,0,2.765884
11692320,49698257,1509667200000000000,2152,0,1503,1509698010000000000,0,1509698040000000000,0,2.776685
11692321,49698257,1509667200000000000,2152,0,1504,1509698310000000000,0,1509698340000000000,0,2.790301
11692322,49698257,1509667200000000000,2152,0,385,1509698820000000000,0,1509698880000000000,0,3.325571
11692323,49698257,1509667200000000000,2152,0,1505,1509699120000000000,0,1509699150000000000,0,2.827839
11692324,49698257,1509667200000000000,2152,0,1506,1509699420000000000,0,1509699450000000000,0,2.841454
11692325,49698257,1509667200000000000,2152,0,1507,1509699690000000000,0,1509699720000000000,0,2.853663
11692326,49698257,1509667200000000000,2152,0,1508,1509699930000000000,0,1509699960000000000,0,2.864464
11692327,49698257,1509667200000000000,2152,0,59,1509700350000000000,0,1509700380000000000,0,3.544976
11692330,49698258,1509667200000000000,505,0,1499,1509722970000000000,7,1509723000000000000,7,4.341461
11692331,49698258,1509667200000000000,505,0,1500,1509723210000000000,6,1509723240000000000,6,4.352262
11692332,49698258,1509667200000000000,505,0,1501,1509723450000000000,6,1509723480000000000,6,4.363064
11692333,49698258,1509667200000000000,505,0,386,1509723960000000000,5,1509724020000000000,5,4.896510
...,...,...,...,...,...,...,...,...,...,...
13047545,50136977,1512777600000000000,1592,0,62,1512836700000000000,0,1512837000000000000,0,10.075229
13047546,50136977,1512777600000000000,1592,0,63,1512837240000000000,0,1512837360000000000,2,10.093907
13047547,50136977,1512777600000000000,1592,0,64,1512838860000000000,1,1512838920000000000,1,10.167373
13047548,50136977,1512777600000000000,1592,0,65,1512840060000000000,1,1512840120000000000,1,10.223205
13047549,50136977,1512777600000000000,1592,0,66,1512841680000000000,3,1512841740000000000,3,10.298736
13047550,50136977,1512777600000000000,1592,0,67,1512844140000000000,8,1512844320000000000,6,10.417800
13047551,50136977,1512777600000000000,1592,0,68,1512845820000000000,0,1512845880000000000,0,10.492015
13047552,50136977,1512777600000000000,1592,0,51,1512846660000000000,0,1512846780000000000,0,10.541234
13047553,50136977,1512777600000000000,1592,0,69,1512847920000000000,-1,1512847980000000000,0,10.590062
13047554,50136977,1512777600000000000,1592,0,70,1512848520000000000,-1,1512848580000000000,0,10.617750
13047555,50136977,1512777600000000000,1592,0,593,1512848820000000000,0,1512848880000000000,0,10.393309
13047558,50136979,1512777600000000000,4649,0,818,1512847380000000000,0,1512847440000000000,0,9.495411
13047559,50136979,1512777600000000000,4649,0,819,1512848070000000000,0,1512848100000000000,0,9.526288
13047560,50136979,1512777600000000000,4649,0,820,1512848880000000000,0,1512848910000000000,0,9.563826
13047561,50136979,1512777600000000000,4649,0,821,1512849552000000000,0,1512849570000000000,0,9.594477
13047562,50136979,1512777600000000000,4649,0,822,1512849822000000000,0,1512849840000000000,0,9.606686
13047563,50136979,1512777600000000000,4649,0,823,1512850230000000000,0,1512850650000000000,0,9.639204
13047564,50136979,1512777600000000000,4649,0,824,1512851532000000000,0,1512851550000000000,0,9.685983
13047565,50136979,1512777600000000000,4649,0,825,1512852060000000000,0,1512852480000000000,0,9.724130
13047566,50136979,1512777600000000000,4649,0,847,1512852900000000000,0,1512852930000000000,0,9.740075
13047567,50136979,1512777600000000000,4649,0,848,1512853080000000000,0,1512853110000000000,0,9.748062
13047568,50136979,1512777600000000000,4649,0,826,1512853500000000000,0,1512853530000000000,0,9.777795
13047569,50136979,1512777600000000000,4649,0,593,1512853890000000000,0,1512853920000000000,0,9.902347
13047570,50136979,1512777600000000000,4649,0,849,1512854130000000000,0,1512854160000000000,0,9.796857
13047571,50136979,1512777600000000000,4649,0,828,1512854412000000000,0,1512854442000000000,0,9.819662
13047572,50136979,1512777600000000000,4649,0,850,1512854640000000000,0,1512854670000000000,0,9.820323
13047573,50136979,1512777600000000000,4649,0,829,1512854970000000000,1,1512855000000000000,1,9.845379
13047574,50136979,1512777600000000000,4649,0,851,1512855210000000000,1,1512855240000000000,1,9.846604
13047575,50136979,1512777600000000000,4649,0,2218,1512855390000000000,1,1512855420000000000,1,9.231632
13047576,50136979,1512777600000000000,4649,0,177,1512855630000000000,0,1512855660000000000,0,10.173679